/*
Universal Styles
*/

*{
    margin: 0;
    padding: 0;
}

/*
Header Styles
(The hashtag is used to identify the object with that id, which we set in the html file)
*/

#header{
    height: 100vh; /*vh means viewport height*/
    background-image: url(https://3xay.github.io/christmasThemedWebsite2024/imgs/bgImage.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

/*
A period is used to identify that class
*/
.header-text{
    text-align: center;
    padding-top: 25px;
}

#textBg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

@font-face {
    font-family: "3XAY Sans Regular", cursive;
    src: url(https://3xay.github.io/christmasThemedWebsite2024/fonts/3XAY-SANS-REGULAR.otf);
}

.box-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "3XAY Sans Regular", cursive;
    font-size: 50px;
}

#logo{
    border-radius: 40px;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    transition: width 0.5s;
}

#logo:hover{
    width: 220px;
}

.waving{
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
}